html {
  overflow: hidden;
}

#clockContainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#hour,
#minute,
#second,
#blammo {
  position: absolute;
  transform-origin: bottom;
  bottom: 50vh;
  width: var(--width);
  left: calc(50vw - var(--width) / 2);
}

#blammo {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  top: calc(50vh - var(--size) / 2);
  left: calc(50vw - var(--size) / 2);
  z-index: 5;
  border-radius: var(--size);
  background: #1a1919;
}

#hour {
  --width: 0.9em;
  height: 30vh;
  background: #b58cc6;
}

#minute {
  --width: 0.6em;
  height: 35vh;
  background: #e49641;
}

#second {
  --width: 0.5em;
  height: 40vh;
  background: #d3ad5c;
}
